<!--
OOP2 - Stefan Garcia, David Palacios and Manminder Singh
The employee page manages emplouee data and allows users to add, update and delete employees.
Users are also able to search for employees, sort and filter employee data.
-->

@page "/employees"
@using Models
@using Services
@inject Services.DBService DBService
@inject Services.EmployeeService EmployeeService
@inject IJSRuntime JS

<div class="page-ems">
    <div class="page-section-ems">
        <h1>Employees @filter1</h1>
        <div>Manage employees | @records employees listed</div>
        <div class="page-header-ems">
            <div class="page-header-ems-section">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input type="search" class="form-control" placeholder="Search for employees by name, email address or position" @bind="search" @bind:event="oninput" @bind:after="SearchEmployees" />
                </div>

                <div class="form-floating">
                    <select @bind="sort" @bind:event="onchange" @bind:after="RefreshList" class="form-select" placeholder="Role filter">
                        <option value="Id" selected>Id</option>
                        <option value="Position">Position</option>
                        <option value="Salary">Salary</option>
                        <option value="Name">Name</option>
                        <option value="Email">Email</option>
                    </select>
                    <label>Sort by</label>
                </div>

                <div class="form-floating">
                <select @bind="filter1" @bind:event="onchange" @bind:after="FilterByStatus" class="form-select" placeholder="Status filter">
                    <option value="" selected>Select filter</option>
                   <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
               </select>
               <label>Filter by status</label>
                </div>

               <div class="form-floating">
                <select @bind="filter2" @bind:event="onchange" @bind:after="FilterByRole" class="form-select" placeholder="Role filter">
                    <option value="" selected>Select filter</option>               
                    <option value="3">Managers</option>
                    <option value="2">Supervisors</option>
                    <option value="1">Staff</option>
                </select>
                <label>Filter by role</label>
                </div>

                
            </div>
            @if (msg != null)
            {
                <div class="@alert alert alert-dismissible fade show alert-fixed" role="alert">
                    @msg
                    <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="CloseMessage"></button>
                </div>
            }
        </div>
        <table class="table table-hover" id="myTable">
            <thead>
                <tr class="thead-border">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th class="td-actions"></th>
                </tr>
            </thead>
            <tbody>
                @if (filteredData != null)
                {
                    if(filteredData.Count == 0)
                    {
                       
                            <div class="loader">Loading...</div>
                      
                    }else{
                    @foreach (Employee e in filteredData)
                    {
                        @if (e.Status == "Inactive") { activeClass = "inactive"; } else { activeClass = "act"; }
                        <tr class="@activeClass"  @onclick="() => EditEmployee(e)">
                            <td>@e.Id.ToString()</td>
                            <td>@e.Name</td>
                            <td><a href="mailto:@e.Email">@e.Email</a></td>
                            <td>@e.Position</td>
                            <td>@e.Salary.ToString("C")</td>
                            <td class="td-actions">
                                <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-trigger="top" title="Edit" @onclick="() => EditEmployee(e)">
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </td>
                        </tr>
                    }
                    }
                }
                else
                {
                    if(employeeList.Count == 0)
                    {
                        <div class="loader">Loading...</div>
                    }else{

                    @foreach (Employee e in employeeList)
                    {

                        @if (e.Status == "Inactive") { activeClass = "inactive"; } else { activeClass = "act"; }
                        <tr class="@activeClass" @onclick="() => EditEmployee(e)">
                            <td>@e.Id.ToString()</td>
                            <td>@e.Name</td>
                            <td><a href="mailto:@e.Email">@e.Email</a></td>
                            <td>@e.Position</td>
                            <td>@e.Salary.ToString("C")</td>
                            <td class="td-actions">
                                <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-trigger="top" title="Edit" @onclick="() => EditEmployee(e)">
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </td>
                            </tr>
                        
                    }
                   }
                }
            </tbody>
        </table>
    </div>
    <div class="page-section-ems">
       
            <EditForm Model="@emp" OnValidSubmit="SubmitForm">
            <DataAnnotationsValidator />
         
            <div class="h2">
                @title
                <div class="button-holder-ems">
                    @if (id != null)
                    {
                      
                        formSubmission = "update";
                        <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-trigger="top" title="Submit Update"><i class="bi bi-save2"></i></button>
                        <button type="button" @onclick="Reset" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" data-trigger="top" title="Back"><i class="bi bi-x-lg"></i></button>
                        <button type="button" @onclick="DeleteEmployee" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-trigger="top" title="Delete"><i class="bi bi-trash3"></i></button>
                    }
                    else
                    {
                        formSubmission = "create";
                        <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-trigger="top" title="Submit"><i class="bi bi-plus-lg"></i></button>
                    }
                </div>
            </div>
            @if (id != null)
            {

                <div class="mb-3">
                    <label class="form-label" for="idd">Employee Id</label>
                    <input type="number" @bind="emp.Id" class="form-control" id="idd" readonly disabled />
                </div>
            }


            <div class="mb-3">
                <label class="form-label" for="name">Full Name</label>
               
                <InputText type="text" placeholder="Enter your full name" class="form-control" @bind-Value="emp.Name" required/>
                <div><ValidationMessage For="@(() => emp.Name)" /></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <InputText type="email" @bind-Value="emp.Email" placeholder="someone@sample.net" class="form-control" required />
                <ValidationMessage For="@(() => emp.Email)" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="position">Position</label>
                <InputText type="text" @bind-Value="emp.Position" placeholder="Enter Position" class="form-control" id="position" required />
                <ValidationMessage For="@(() => emp.Position)" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="salary">Salary</label>
                <InputNumber  @bind-Value="emp.Salary" step=".01" placeholder="Enter Salary" class="form-control" id="salary" required />
                <ValidationMessage For="@(() => emp.Salary)" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="status">Status</label>
                <select @bind="emp.Status" placeholder="Status" class="form-select" id="status" required>
                    <option value="">Select Status</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="role">Role</label>
                <select @bind="emp.Role" placeholder="Role" class="form-select" id="role"  required>
                    <option value="1">Staff</option>
                    <option value="2">Supervisor</option>
                    <option value="3">Management</option>
                </select>
            </div>
            @if (id != null)
            {
                <div class="mb-3">
                    <label class="form-label" for="created">Created</label>
                    <input type="datetime" @bind="created" class="form-control" id="created" required readonly disabled />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="updated">Updated</label>
                    <input type="datetime" @bind="updated" class="form-control" id="updated" required readonly disabled />
                </div>
            }

        </EditForm>
    </div>
</div>

@code {
    private int? id;
    private string? fullName;
    private string? emailAddress;
    private string? position;
    private decimal salary = 0;
    private string? status;
    private string? filter1;
    private string? filter2;
    private string sort = "Id";
    private string formSubmission = "create";
    private int role = 1;
    private DateTime? created;
    private DateTime? updated;
    private string search;
    private List<Employee> employeeList = new List<Employee>();
    private string? msg;
    private string alert = "alert-success";
    private string title = "Add Employee";
    private int records = 0;
    private string activeClass = "";
    private Employee emp = new Employee();
    private List<Employee>? filteredData = new List<Employee>();




    protected override async Task OnInitializedAsync()
    {

        if (DBService.IsSuccessfulConnection())
        {
            //msg = "DB Connection - OK!";
        }
        else
        {
            msg = "Reconfigure connection string at MauiProgram.cs";
            alert = "alert-danger";
        }

        //custList = await DatabaseService.GetCustomers();
        await RefreshList();

    }

    private async Task CallTable()
    {
        await JS.InvokeAsync<string>("loadTable");
    }

    private async Task Reset()
    {
        fullName = emailAddress = position = "";
        salary = 0;
        status = "Active";
        role = 1;
        id = null;
        title = "Add Employee";
        emp = new Employee();
    }

    private async Task CloseMessage()
    {
        msg = null;
    }

    private void SendMessage(string message)
    {
        msg = message;
    }

    private async Task RefreshList()
    {
        try
        {
            employeeList = await EmployeeService.GetEmployees(sort);
            records = employeeList.Count;
            filteredData = null;
            //await CallTable();
        }
        catch (Exception e)
        {
            msg = $"Error during refresh: {e.Message}";
            alert = "alert-danger";
        }
    }

    private async Task SearchEmployees()
    {
        try
        {
            if(search == ""){ await RefreshList(); }
            else
            {
                filteredData = await EmployeeService.SearchEmployees(search);
                records = filteredData.Count;
            }

        }
        catch (Exception e)
        {
            msg = $"Error getting search results: {e.Message}";
            alert = "alert-danger";
        }
    }

    private async Task FilterByRole()
    {
        try
        {
            if (filter2 == "") { await RefreshList(); }
            else
            {
                filter1 = "";
                filteredData = await EmployeeService.FilterEmployees("EmployeeRole", filter2, sort);
                records = filteredData.Count;
            }
        }
        catch (Exception e)
        {
            msg = $"Error getting search results: {e.Message}";
            alert = "alert-danger";
        }
    }


    private async Task FilterByStatus()
    {
        try
        {
            if (filter1 == "") { await RefreshList(); }
            else
            {
                filter2 = "";
                filteredData = await EmployeeService.FilterEmployees("EmployeeStatus", filter1, sort);
                records = filteredData.Count;
            }

        }
        catch (Exception e)
        {
            msg = $"Error getting search results: {e.Message}";
            alert = "alert-danger";
        }
    }

    public async Task SortData()
    {
        await FilterByStatus();
        await FilterByRole();
    }

    private async Task EditEmployee(Employee employee)
    {
        try
        {
            emp = employee;
            id = employee.Id;
            fullName = employee.Name;
            emailAddress = employee.Email;
            position = employee.Position;
            salary = employee.Salary;
            status = employee.Status;
            role = employee.Role;
            created = employee.CreatedAt;
            updated = employee.UpdatedAt;
            title = $"{fullName}";

        }
        catch (Exception e)
        {
            msg = $"Error during refresh: {e.Message}";
            alert = "alert-danger";
        }
    }

    private async Task SubmitForm()
    {
        if (formSubmission == "create")
        {
            await AddEmployee();
        }
        else
        {
            await UpdateEmployee();
        }
    }


    private async Task AddEmployee()
    {
        try
        {
            List<object> customerData = new List<object>();
            customerData.Add(emp.Name);
            customerData.Add(emp.Email);
            customerData.Add(emp.Position);
            customerData.Add(emp.Salary);
            customerData.Add(emp.Status);
            customerData.Add(emp.Role);
            await EmployeeService.AddEmployee(customerData);
            msg = $"New employee {fullName} added successfully!";
            await Reset();
            await RefreshList();
            
        }
        catch (Exception e)
        {
            msg = $"An error occurred: adding{e.Message}";
            alert = "alert-danger";
        }
    }

    private async Task UpdateEmployee()
    {
        try
        {
            await EmployeeService.UpdateEmployee(emp);
            await RefreshList();
            SendMessage($"{emp.Name} updated successfully!");
            await Reset();   
        }
        catch (Exception e)
        {
            msg = $"An error occurred: adding{e.Message}";
            alert = "alert-danger";
        }
    }

    private async Task DeleteEmployee()
    {
        try
        {

            bool confirmDelete = await App.Current.MainPage.DisplayAlert("Confirm Deletion!", $"Are you sure you want to delete {fullName}?", "OK", "Cancel");

            if (confirmDelete)
            {
                if (emp != null)
                {
                    await EmployeeService.DeleteEmployee(emp);
                    msg = $"{emp.Name} was deleted successfully.";
                    await RefreshList();
                    await Reset();
                }                
            }
            else
            {
                msg = $"Deletion Cancelled.";
            }            
        }
        catch (Exception e)
        {
            msg = $"An error occurred: adding{e.Message}";
            alert = "alert-danger";
        }
    }

}
